<launch>

  <arg name="frame_prefix" default = "realsense" />
  <arg name="throttle_rate" default = "100.0" />
  <arg name="reset_duration" default = "0.05" />
  <arg name="set_module_list" default ="false" />
  <arg name="module_list_file" default ="" />

  <node pkg="nodelet" type="nodelet" name="realsense_camera_manager" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="multi_realsense_camera" args="load realsense2_camera/MultiT265Odom  realsense_camera_manager">
    <param name="frame_prefix" value="$(arg frame_prefix)" />
    <param name="reset_duration" value="$(arg reset_duration)" />
    <param name="throttle_rate" value="$(arg throttle_rate)" />
    <rosparam file="$(arg module_list_file)" command="load" if="$(arg set_module_list)"/>
  </node>
</launch>
